* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../TutorialSite/images/pxfuel.jpg);
    background-size: cover;
    background-attachment: fixed;
    
  
}
.div-nav img{
    position: absolute;
    margin-top: 6px;
    margin-left: 34px;
    height: 65px;
    width: 73px;
    border: 3px solid black ; 
    border-radius: 10px;
}

.nav-menu{
    
    height: 50px;
}
.ul-menu{
    text-decoration: none;
    list-style: none;
    padding: 12px ;
    text-align: right;
    
}

.li-menu{
    display: inline;
    font-size: 20px;
    text-align: justify;
    padding: 5px;
    /* border-radius: 5px; */
    
}
.a-menu{
    color: white;
    text-decoration: none;
}
.container{
    margin-top: 10px;
}
.iframe-class{
    overflow: hidden;
    display: flex;   
    padding: 25px;
    width: 100%;
    height: 100vh;
    position: fixed;
} 
.div-iframe{
    /* margin: 50px;
    padding: 50px; */
    height: 50px;
    width: 100px;
}
/* other file style  */

.row{
    /* border: 2px solid wheat; */
    width: 45vmin;
    background-color: lightblue;
    border-radius: 25px;
}
.aside-bar{
    height: 810px;
    width: 248px; 
    text-decoration: none;
    list-style: none;
    background-attachment: fixed;
    padding: 12px;
}

.ul-li{
    font-size: 20px;
    text-align: justify;
    padding: 5px;
    
}

.li-a{
    color: black;
    text-decoration: none;
}
