*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #27374D;
}
.img-logo {
    height: 15vmin;
    margin:40px 0px 0px 35px;
    
}
.container{
    width: 180vmin;
    height: 700px;
    margin: 20px;
    padding: 10px;
    border-radius: 25px;
}
.container-items {
    padding: 25px;
    margin: 10px;
    border: 1px solid;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.heading{
    text-align: center;
    color: #144272;
}
.hr{
    margin: 10px 0px 10px 0px;
    color: #144272;
}
.w-335{
    width: 335px;
}

#DynamicForm{
    color: #144272;
}