*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 50%;
    margin: 10px auto;
    justify-content: center;
    align-items: center;
}
table tr td{
    border: 1px solid black;
}
table{
    text-align: center;
    margin: o auto;
    border-collapse: collapse;
    height: 300px;
    width: 100%;
}
.empty{
    border-right-style:none ;
    border-left-style: none;
    background-color: white;
}
.labal{
    padding-top: 10px;
    vertical-align: top;
    font-weight: bold;
    color: green;
    border-right-style:none ;
    border-left-style: none;

}
.dg{
    background-color: darkseagreen;
}
.sky{
    background-color: lightskyblue;
}
