*{
    
    margin: 0;
    padding: 0;
}
.nav-menu{
    background-color: rgb(42 115 165 / 62%);
    height: 50px;
}
.ul-menu{
    text-decoration: none;
    list-style: none;
}

.li-menu{
    display: inline;
    font-size: 20px;
    text-align: justify;
    margin: 5px 5px;

}

.a-menu{
    text-decoration: none;
}