*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(240, 101, 41);
}
.container{
    width: 150vmin;
    height: auto;
    background-color: #fff;
    margin: 20px;
    padding: 10px;
    border-radius: 25px;
}
.img-logo {
    height: 15vmin;
    margin:40px 0px 0px 35px;
}

                /* == preRequi Start == */

.preRequi{
    padding: 25px;
    margin: 5px;
}
.preRequi h2 {
    text-align: center;
    font-size: 5vmin;
    color: #144272;
    transition: 2s;
    margin-bottom:  3.5vmin;
    margin-top: 5vmin;
}
.preRequi hr {
    clear: both;
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right,rgba(0,0,0,0),rgba(0,0,0,.75),rgba(0,0,0,0));
}
.preRequi p{
    font-size: 3vmin;
    color: #fff;
    margin: 1.5vmin 5vmin;
    padding: 10px;
    background-color: #27374D;
    border-radius: 10px;
}

                /* == preRequi End == */


.htmlintro{
    padding: 25px;
    margin: 5px;
}
.htmlintro h2 {
    text-align: center;
    font-size: 5vmin;
    color: #144272;
    transition: 2s;
    margin-bottom:  3.5vmin;
    margin-top: 5vmin;
}
.htmlintro hr {
    clear: both;
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right,rgba(0,0,0,0),rgba(0,0,0,.75),rgba(0,0,0,0));
}
.htmlintro p{
    font-size: 3vmin;
    color: #144272;
    margin: 1.5vmin 5vmin;
    padding: 10px;
    border-radius: 10px;
}

.structurehtml{
    width: 150vmin;
    height: 150vmin;
    background-color: #fff;
    padding: 50px;
    margin: 50px;
    border-radius: 20px;
}
.besictags{
    width: 150vmin;
    height: 150vmin;
    background-color: #fff;
    padding: 50px;
    margin: 50px;
    border-radius: 20px;
}
.tag-element{
    width: 150vmin;
    height: 150vmin;
    background-color: #fff;
    padding: 50px;
    margin: 50px;
    border-radius: 20px;
}
.heading-para{
    width: 150vmin;
    height: 150vmin;
    background-color: #fff;
    padding: 50px;
    margin: 50px;
    border-radius: 20px;
}
.wrappertag{
    width: 150vmin;
    height: 150vmin;
    background-color: #fff;
    padding: 50px;
    margin: 50px;
    border-radius: 20px;
}
.symentic{
    width: 150vmin;
    height: 150vmin;
    background-color: #fff;
    padding: 50px;
    margin: 50px;
    border-radius: 20px;
}
.Void-elements{
    width: 150vmin;
    height: 150vmin;
    background-color: #fff;
    padding: 50px;
    margin: 50px;
    border-radius: 20px;
}
.Detial-summray{    
    width: 150vmin;
    height: 150vmin;
    background-color: #fff;
    padding: 50px;
    margin: 50px;
    border-radius: 20px;
}
.images{
    width: 150vmin;
    height: 150vmin;
    background-color: #fff;
    padding: 50px;
    margin: 50px;
    border-radius: 20px;
}
.image-path{
    width: 150vmin;
    height: 150vmin;
    background-color: #fff;
    padding: 50px;
    margin: 50px;
    border-radius: 20px;
}
.Example-Base{
    width: 150vmin;
    height: 150vmin;
    background-color: #fff;
    padding: 50px;
    margin: 50px;
    border-radius: 20px;
}
.block-element{
    width: 150vmin;
    height: 150vmin;
    background-color: #fff;
    padding: 50px;
    margin: 50px;
    border-radius: 20px;
}
.inline-element{
    width: 150vmin;
    height: 150vmin;
    background-color: #fff;
    padding: 50px;
    margin: 50px;
    border-radius: 20px;
}
.list{
    width: 150vmin;
    height: 150vmin;
    background-color: #fff;
    padding: 50px;
    margin: 50px;
    border-radius: 20px;
}
.global-attri{
    width: 150vmin;
    height: 150vmin;
    background-color: #fff;
    padding: 50px;
    margin: 50px;
    border-radius: 20px;

}
.globel-attre-exl{
    width: 150vmin;
    height: 150vmin;
    background-color: #fff;
    padding: 50px;
    margin: 50px;
    border-radius: 20px;
}
.block-quote{
    width: 150vmin;
    height: 100vmin;
    background-color: #fff;
    padding: 50px;
    margin: 50px;
    border-radius: 20px;
}
.figure{
    width: 150vmin;
    height: 150vmin;
    background-color: #fff;
    padding: 50px;
    margin: 50px;
    border-radius: 20px;
}
.atl-tag{
    width: 150vmin;
    height: 150vmin;
    background-color: #fff;
    padding: 50px;
    margin: 50px;
    border-radius: 20px;
}
.tables{
    width: 150vmin;
    height: 150vmin;
    background-color: #fff;
    padding: 50px;
    margin: 50px;
    border-radius: 20px;
}
.from-intro{
    width: 150vmin;
    height: 150vmin;
    background-color: #fff;
    padding: 50px;
    margin: 50px;
    border-radius: 20px;
}
.iframe{
    width: 150vmin;
    height: 150vmin;
    background-color: #fff;
    padding: 50px;
    margin: 50px;
    border-radius: 20px;
}
.media-tag{
    width: 150vmin;
    height: 150vmin;
    background-color: #fff;
    padding: 50px;
    margin: 50px;
    border-radius: 20px;   
}
.img-logo {
    height: 15vmin;
    margin:40px 0px 0px 35px;
    
}