*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(64, 41, 240);
}
.container{
    width: 150vmin;
    height: auto;
    background-color: #fff;
    margin: 20px;
    padding: 10px;
    border-radius: 25px;
}
.img-logo {
    height: 15vmin;
    margin:40px 0px 0px 35px;
}

                /* == preRequi Start == */

.preRequi{
    padding: 25px;
    margin: 5px;
}
.preRequi h2 {
    text-align: center;
    font-size: 5vmin;
    color: #144272;
    transition: 2s;
    margin-bottom:  3.5vmin;
    margin-top: 5vmin;
}
.preRequi hr {
    clear: both;
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right,rgba(0,0,0,0),rgba(0,0,0,.75),rgba(0,0,0,0));
}
.preRequi p{
    font-size: 3vmin;
    color: #fff;
    margin: 1.5vmin 5vmin;
    padding: 10px;
    background-color: #27374D;
    border-radius: 10px;
}

                /* == preRequi End == */
                /* == html intro Start == */


.htmlintro{
    padding: 25px;
    margin: 5px;
}
.htmlintro h2 {
    text-align: center;
    font-size: 5vmin;
    color: #144272;
    transition: 2s;
    margin-bottom:  3.5vmin;
    margin-top: 5vmin;
}
.htmlintro hr {
    clear: both;
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right,rgba(0,0,0,0),rgba(0,0,0,.75),rgba(0,0,0,0));
}
.htmlintro p{
    font-size: 3vmin;
    color: #144272;
    margin: 1.5vmin 5vmin;
    padding: 10px;
    border-radius: 10px;
}
                /* == html intro End == */
                /* == stucturehtml Start == */


.structurehtml{
    padding: 25px;
    margin: 5px;   
}
.structurehtml h2{
    text-align: center;
    font-size: 5vmin;
    color: #144272;
    transition: 2s;
    margin-bottom:  3.5vmin;
    margin-top: 5vmin;
}
.structurehtml p{
    font-size: 3vmin;
    color: #27374D;
    margin: 1.5vmin 5vmin;
    padding: 10px;
    border-radius: 10px;
}
                /* == stucturehtml End == */
                /* == besictags Start == */

.besictags{
    padding: 25px;
    margin: 5px;
}
.besictags h2{
    font-size: 5vmin;
    color: #144272;
    transition: 2s;
    margin-bottom:  3.5vmin;
    margin-top: 5vmin;
}
.besictags p{
    font-size: 3vmin;
    color: #144272;
    margin: 1.5vmin 5vmin;
    padding: 10px;
    border-radius: 10px;
}

.heading{
    border: 10px solid #144272;
    background-color: cadetblue;
}
                /* == besictags End == */
                /* == tag-element start == */

.tag-element{
    padding: 25px;
    margin: 5px;
}
                /* == tag-element End == */
                /* == heading-para Start == */

.heading-para{
    padding: 25px;
    margin: 5px;
}
                /* == heading-para End == */
                /* == wrappertag Start == */

.wrappertag{
    padding: 25px;
    margin: 5px;
}
                /* == wrappertag End == */
                /* == symetictags Start == */

.symentic{
    padding: 25px;
    margin: 5px;
}
                /* == symetictags End == */
                /* == Void-elements Start == */

.Void-elements{
    padding: 25px;
    margin: 5px;
}
                /* == Void-elements End == */
                /* == Detial-summray start == */

.Detial-summray{    
    padding: 25px;
    margin: 5px;
}
                /* == Detial-summray End == */
                /* == images start == */

.images{
    padding: 25px;
    margin: 5px;
}
                /* == images End == */
                /* == image-path start == */

.image-path{
    padding: 25px;
    margin: 5px;
}
                /* == Example-Base start == */
                /* == image-path End == */
.Example-Base{
    padding: 25px;
    margin: 5px;
}
                /* == Example-Base end == */
                /* == block-element start == */

.block-element{
    padding: 25px;
    margin: 5px;
}
                            /* == block-element end == */
                            /* == inline-element start == */
.inline-element{
    padding: 25px;
    margin: 5px;
}
                            /* == inline-element end == */
                            /* == list start == */
.list{
    padding: 25px;
    margin: 5px;
}
                            /* == list end == */
                            /* == global-attri start == */
.global-attri{
    padding: 25px;
    margin: 5px;
}
                            /* == global-attri end == */
                            /* == globel-attre-exl start == */
.globel-attre-exl{
    padding: 25px;
    margin: 5px;
}
                            /* == globel-attre-exl end == */
                            /* == block-quote start == */
.block-quote{
    padding: 25px;
    margin: 5px;
}
                            /* == block-quote end == */
                            /* == figure start == */
.figure{
    padding: 25px;
    margin: 5px;
}
                            /* == figure end == */
                            /* == atl-tag start == */
.atl-tag{
    padding: 25px;
    margin: 5px;
}
                            /* == atl-tag end == */
                            /* == tables start == */
.tables{
    padding: 25px;
    margin: 5px;
}
                            /* == tables end == */
                            /* == from-intro start == */
.from-intro{
    padding: 25px;
    margin: 5px;    
}
                            /* == from-intro end == */
                            /* == iframe start == */
.iframe{
    padding: 25px;
    margin: 5px;
}
                            /* == iframe end == */
                            /* == media-tag start == */
.media-tag{
    padding: 25px;
    margin: 5px;
}
                            /* == media-tag end == */
